.content {
    padding: 6rem 0.5rem 0 0.5rem;
}

header {
    padding: 1rem;
    color: #ffffff;
    background: black;
    box-shadow: 0 4px 3px grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header .fa {
    font-size: 3rem;
    color: goldenrod;
}

header h2 {
    font-size: 1.75rem;
}