.movie {
    border: 1px solid #dddbda;
    max-width: 600px;
    border-left: 3px solid black;
    padding: 0.5rem;
}

.movie:hover {
    background-color: lightgrey;
    cursor: pointer;
    text-decoration: none;
}

.movie-item {
    border-radius: 5px;
}

.movie-item-no-image {
    border: 1px solid grey;
}